.content {
  display: grid;
  
  grid-template-areas: 
  "ci ct";
  grid-template-columns: 1fr 2fr;

  grid-area: c;
  background-color: rgb(202, 201, 201);
}

.contentText {
  grid-area: ct;
}


.contentImg {
  grid-area: ci;
  margin-left: 5px;
  margin-top: 5px;
  height: 500px;
}  

.contentImg img {
  margin-top: 20px;
  margin-left: 10px;
  height: 400px;
}

.H1 {
  font-size: 35px;
}